<div class="p-l-10 p-rl-0-sr991">
    <!-- Banner -->
    <div class="flex-c-s">
        <a href="#">
            <img class="max-w-full" src="images/banner-03.jpg" alt="IMG">
        </a>
    </div>
</div>
