<!-- Latest -->
<section class="bg0 p-t-50 p-b-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-50">
                {% include 'site/components/list/list-wrapper.html.twig' %}
            </div>

            <div class="col-md-10 col-lg-4 p-b-50">
                {% include 'site/components/list/add-container.html.twig' %}
            </div>
        </div>
    </div>
</section>
