<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">

        {% include 'site/layout/header/topbar.html.twig' %}
        {% include 'site/layout/header/header-mobile.html.twig' %}
        {% include 'site/layout/header/menu-mobile.html.twig' %}

        <!--  -->
        <div class="wrap-logo no-banner container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="index.html"><img src="images/icons/logo-01.png" alt="LOGO"></a>
            </div>
        </div>

        {% include 'site/layout/header/menu-desktop.html.twig' %}
    </div>
</header>
