{% extends './site/base.html.twig' %}

{% block title %}Symfony News!{% endblock %}

{% block body %}
<div class="bg-white container-lg">
    <div class="">
        <h3>Hello {{ controller_name }}! ✅</h3>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/var/www/app/src/Controller/Site/HomeController.php'|file_link(0) }}">src/Controller/Site/HomeController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/var/www/app/templates/site/home/index.html.twig'|file_link(0) }}">templates/site/home/index.html.twig</a></code></li>
        </ul>
    </div>
</div>
{% endblock %}
